var items = [{
            "id": "0201633612",
            "name": "Design Patterns",
            "authors": "Ralph Johnson, Erich Gamma, John Vlissides, Richard Helm",
            "description": "<br>1，绝对是烤箱！！排名第一。中国人显然太不会用烤箱了，就知道微波炉这种只能温饭的东西。烤箱这玩意儿简直是万能的，比炒菜锅好用多了，而且无油烟！烤牛排、烤羊肉、烤香蕉、烤菠萝、烤糕点。西餐的烹饪方式加上中国人天生的美食思维，足足让俺灭掉无数米其林大厨哇！尤其是烤三文鱼，买来的冷冻三文鱼鱼块直接丢进去，200摄氏度烤20分钟，拿出来淋上沙拉及鲜柠檬就能即刻体验北欧美食～～～。酒店里的三文鱼实在是太贵了，自己做，一人份的烤三文鱼就是麦当劳一个汉堡的价格。
<br>
<br>补充分享一个笔者常做的香蕉三明治：一根香蕉，上面淋上一点橄榄油与蜂蜜，丢进烤箱烤个几分钟。顺便再丢两片土司面包进去，完后面包上抹上蓝莓果酱，用西餐刀将烤熟的香蕉切片涂抹在面包上，就成功了。香甜可口~，依据口味，可以再夹一些培根、生鱼片、番茄片等乱七八糟的东西。
<br>
<br>
<noscript><img src="https://pic1.zhimg.com/226e41dc25b53f3e9883fc3afd91890c_b.jpg" data-rawwidth="1024" data-rawheight="768" class="origin_image zh-lightbox-thumb" width="1024" data-original="https://pic1.zhimg.com/226e41dc25b53f3e9883fc3afd91890c_r.jpg">上图是俺烤的三味鱼，撒黄芥末与柠檬，全部做下来只需要人民币15元。</noscript><img src="//zhstatic.zhihu.com/assets/zhihu/ztext/whitedot.jpg" data-rawwidth="1024" data-rawheight="768" class="origin_image zh-lightbox-thumb lazy" width="1024" data-original="https://pic1.zhimg.com/226e41dc25b53f3e9883fc3afd91890c_r.jpg" data-actualsrc="https://pic1.zhimg.com/226e41dc25b53f3e9883fc3afd91890c_b.jpg">上图是俺烤的三味鱼，撒黄芥末与柠檬，全部做下来只需要人民币15元。
<br>
<br>",
            "category": "小家电",
            "ratingscount": "18",
            "img": "https://images-na.ssl-images-amazon.com/images/I/41XzaDJ3eXL._AC_US160_.jpg",
            "pop": "277",
            "review": "With Design Patterns as your guide, you will learn how these important patterns fit into the software development process, and how you can leverage them to solve your own design problems most efficiently.",
            "link": "https:\/\/amazon.com\/dp\/0201633612\/?tag=devbookscom20-20"
        }, {
            "id": "0132350882",
            "name": "Clean Code",
            "authors": "Robert C. Martin",
            "description": "<br> 3，松下只卖两百元的吸尘器，每周吸一吸，相当好用。看很多人推荐机器人吸尘器，那玩意儿只能吸地板，犄角旮旯的灰尘完全用不上。而且，家里的地板吸起来并不费劲，所以大可不必买个机器人。
<br>",
            "category": "4.5",
            "ratingscount": "29",
            "img": "https://images-na.ssl-images-amazon.com/images/I/41XzaDJ3eXL._AC_US160_.jpg",
            "pop": "256",
            "review": "Looks at the principles and clean code, includes case studies showcasing the practices of writing clean code, and contains a list of heuristics and &quot;smells&quot; accumulated from the process of writing clean code.",
            "link": "https:\/\/amazon.com\/dp\/0132350882\/?tag=devbookscom20-20"
        }
    ];