{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Please sign in</h3>
                </div-->
                <div class="panel-body">
                    <!--script type="text/javascript">
                            function imgOnChange(files){
                                    
                                    console.log('add image to left canvas')
                                    var file = files[0];
                                    console.log(file.type);
                                    var fr = new FileReader();
                                    fr.onload = function () {
                                        console.log('fr onload');
                                        var img = new Image();
                                        img.onload = function () {
                                              console.log('image loaded.');
                                              //fabric.Image.fromURL(img.src, function (oImg) {
                                              //console.log(oImg)
                                              // lsw added
                                              //oImg.set({ left: 0, top: 0 });
                                              //canvas.add(oImg);
                                            //});
                                        };
                                        img.src = fr.result;
                                    };
                                    fr.readAsDataURL(file);
                            };
                            function loadImage()
                            {
                                console.log('################ load image')
                                var fileSelect = document.getElementById("fileSelect"),
                                fileElem = document.getElementById("fileElem");

                                fileSelect.addEventListener("click", function (e) {
                                if (fileElem) {
                                    fileElem.click();
                                }
                                //e.preventDefault(); // prevent navigation to "#"
                                }, false);      
                            }    
                    </script-->

                    
                        <input type='file'  id='fileElem' style="display:none">
                        <!--input type='file'  id='fileElem' style="display:none" onchange="imgOnChange(this.files)"-->
                        <div style="height: 0; width: 0; overflow: hidden;">
                            <a href="#" id="fileSelect">Select some files</a>
                        </div>
                        
                        <!--div class="form-group">
                            <label>Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="Email">
                            <p class="help-block">Use email: admin@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            <p class="help-block">Use password: 123456</p>
                        </div-->
                        <button class="btn btn-primary" onclick="document.getElementById('fileElem').click();">Upload image</button>
                    
                </div>
            </div>
        </div>
        <!--div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> Video training</h3>
                </div>
                <div class="panel-body">
                    <video width="100%" controls="controls">
                        <source src="https://github.com/michaelliao/learn-javascript/raw/master/video/vscode-nodejs.mp4">
                    </video>
                </div>
            </div>
        </div-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Get more courses...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                    <p>full-stack JavaScript course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Python</h3>
                </div>
                <div class="panel-body">
                    <p>the latest Python course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">git</h3>
                </div>
                <div class="panel-body">
                    <p>A course about git version control</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<body>

    <script src="/static/js/firebase.storage.js"></script>

</body>
{% endblock %}