{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Please sign in</h3>
                </div-->
                <div class="panel-body">
                    
                        <input type='file'  id='fileElem' style="display:none">
                        <!--input type='file'  id='fileElem' style="display:none" onchange="imgOnChange(this.files)"-->
                        <div style="height: 0; width: 0; overflow: hidden;">
                            <a href="#" id="fileSelect">Select some files</a>
                        </div>
                        
                        <button class="btn btn-primary btn-lg btn-block" onclick="document.getElementById('fileElem').click();">Upload image</button>
                    
                </div>
            </div>
        </div>
        <!--div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> Video training</h3>
                </div>
                <div class="panel-body">
                    <video width="100%" controls="controls">
                        <source src="https://github.com/michaelliao/learn-javascript/raw/master/video/vscode-nodejs.mp4">
                    </video>
                </div>
            </div>
        </div-->
    </div>
<div id="progressBar" class="progress center-block hidden">
    <div class="progress-bar" role="progressbar" aria-valuenow="60"
         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="sr-only">40% 完成</span>
    </div>
</div>
    <!--div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                    <p>full-stack JavaScript course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Python</h3>
                </div>
                <div class="panel-body">
                    <p>the latest Python course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">git</h3>
                </div>
                <div class="panel-body">
                    <p>A course about git version control</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Read more</a></p>
                </div>
            </div>
        </div>
    </div-->
</div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail First" src="//dyl80ryjxr1ke.cloudfront.net/external_assets/examples/pillow_v4/preview_original.jpeg" />
                        <div class="caption">
                            <h3>
                                Mark
                            </h3>
                            <p>
                                Mark some  foreground green and some  background red. The algorithm takes care of the details.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Tutorials</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail Second" src="//dyl80ryjxr1ke.cloudfront.net/external_assets/examples/pillowwithoutshadow_v1/preview_result_checker.jpeg" />
                        <div class="caption">
                            <h3 class="c">
                                Live Preview
                            </h3>
                            <p>
                                Live feedback lets you focus on the challenging parts of the image 
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Tutorials</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail Third" src="//dyl80ryjxr1ke.cloudfront.net/external_assets/examples/pillow_v4/preview_result.jpeg" />
                        <div class="caption">
                            <h3>
                                Jazz It Up
                            </h3>
                            <p>
                                Adjust the colors, add drop shadows, and crop the image to create a truly eye-popping result!
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Tutorials</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<body>
    <script src="/static/js/firebase.storage.js"></script>

</body>
{% endblock %}